# .vscode directory
.vscode/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

ipk24chat-client
obj/
ipk_proj1_livestream/
ipk-client-test-server/
FIT.ovpn